*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

nav{
  padding: 40px;
  background-color: rgb(123, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
nav h4{
  color: white;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 800;
}
nav h4 span{
  color: rgb(255, 0, 140);
}